<!DOCTYPE html>
<title>HMAC Generator</title>
<h1>Okay, here's what I've got</h1>

<p>These are the values we used to generate the hash:
<code><%= @params.inspect %></code></p>

<p>Then we add the timestamp parameter:
<code><%= @params_with_timestamp.inspect %></code></p>

<p>To calculate the HMAC, we generate the following string based on this:
<code><%= @checker.send(:message_string, @params_with_timestamp) %></code></p>

<p>And use this secret for the HMAC generation:
<code>very_secret</code></p>

<p>Then we add the HMAC:
<code><%= @params_with_hmac.inspect %></code></p>

<p>Then, this is a nice URL to use. We URL-escape each value, and keep in mind that the order of HTTP-parameters does not matter:</p>

<a href="/auth?<%= @link %>">Link</a>
