<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/app.css">

<title>HMAC Generator</title>
<h1>Okay, here's what I've got</h1>

<p>These are the values we used to generate the hash:</p>
<code><%= JSON.pretty_generate @params %></code>

<p>Then we add the timestamp and other parameter we want:</p>
<code><%= JSON.pretty_generate @params_to_sign %></code>
<p class="info">timestamp is the only key that is required. <br />
  version, nonce and consumer_key are app-specific and can be anything you want, just make sure you calculate the hmac over all the params you send.
 </p>

<p>To calculate the HMAC, we sort the params by key alfabetically and join the values with a '|' in between:</p>
<code><%= @checker.send(:message_string, @params_to_sign) %></code>

<p>And use the configured secret for the HMAC generation:</p>
<code><%= @secret %></code>

<p>Then we add the HMAC to the params:</p>
<code># Authmac::HmacChecker.new(hmac_secret, '|', 'sha256').sign(params)
<%= JSON.pretty_generate @params_with_hmac %></code>

<p>Then, this is a nice URL to use. We URL-escape each value, and keep in mind that the order of HTTP-methods does not matter:</p>

<a href="/auth?<%= @link %>">Link</a>
